@import 'qlml';
@import 'qlsc';
@import 'qlttdma';
@import 'qlslkh';
@import 'tnsc';

.mapDiv {
  width: 100%;
  height: 100vh
}

.esri-view-root {
  width: 100%;
  height: 100%;
}

/* Fix for some calcite styles */
.esri-widget {
  h3 {
    font-size: 1rem;
  }

  li {
    margin: 0;
  }

  font-family: Roboto,
  sans-serif;

  .esri-menu {
    background-color: $color-main;
    color: #fff;
  }

  .esri-menu li:hover,
  .esri-menu li:focus {
    background-color: #83bfedc2;
  }
}

.esri-popup__header,
.esri-widget--button {
  background-color: $color-main;
  color: white;
}

.esri-widget--button--active {
  background-color: #f0f0f0;
  color: #2e2e2e;
}

.esri-popup__button {
  color: #fffcfc;
}

.esri-popup__feature-buttons {
  background-color: $color-main;
}

.tool-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);

  .title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $color-main;
    padding: 15px;
    text-align: center;
    line-height: 1.5
  }

  .statistic {
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  .search,
  .result-container {
    padding: 10px;
  }

  .btn-group {
    padding: 7px 0 17px 0;
  }
}

.tool-search[tabIndex="1"] {
  width: 750px;
}