@page {
  size: auto;
  margin: 0;
}

.pct {
  .main {
    padding: 50px 20px 0;
    width: 850px;
    margin: auto;
  }
  .div1 {
    float: left;
    text-align: center;
  }
  .div2 {
    float: right;
    text-align: center;
    .chxh,
    .dltd {
      font-weight: bold;
    }
    .dltd {
      text-decoration: underline;
    }
  }
  .content {
    float: left;
    .title {
      text-align: center;
      font-size: 20px;
      line-height: 0.2;
      font-weight: bold;
    }
    .info {
      width: 100%;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    thead>tr>th {
      text-align: center;
    }
    &.border> {
      tbody>tr>td,
      thead>tr>th,
      tbody>tr>th {
        border: 1px solid black;
        vertical-align: text-top;
      }
    }
  }
  .content {
    .info {
      .left {
        padding-left: 5px;
        width: 50%;
      }
      .right {
        padding-left: 5px;
        .text {
          font-weight: bold;
        }
      }
    }
    .ii {
      text-align: left;
      .heading {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  .sign {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    .name {
      font-family: serif;
      font-style: italic;
    }
  }
}