.qlml {
  .tool-statistic {
    padding: 17px;
    display: flex;
    width: 700px;
    overflow-y: hidden;
    height: 510px;
    flex-direction: row;
    .form-container {
      width: 300px;
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }
    .results-container {
      flex-grow: 1
    }
  }
}