.tnsc {
  display: flex;
  flex-direction: row;
  .map-container {
    flex-grow: 1;
    height: 100vh;
  }
  .form-container {
    width: 500px;
    height: 100vh;
    .title {
      font-size: 30px;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #0370b5;
      padding: 15px;
      text-align: center;
    }
    .info {
      margin-top: 7px;
      .finish-content {
        padding: 10px;
        .id {
          font-size: 28px;
          font-weight: 600;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: $color-second;
          text-align: center;
        }
        .revert {
          margin: 20px 0;
          text-align: center
        }
      }
    }
  }
}